{% load static %}

<section
  class="basic-section basic-section-separate list-group b-radius-tl b-radius-tr b-radius-bl b-radius-br"
>
  <h2 class="p-title" style="padding-left: 12px">Last change balance</h2>

  <section
    class="billing b-radius-tl b-radius-tr b-radius-bl b-radius-br js-react-filter"
  >
    <div class="col-lg-12">
      <table>
        <thead>
          <tr>
            <th rowspan="2">Date</th>
            <th rowspan="2">On start day</th>
            <th rowspan="2">Replenish</th>
            <th colspan="4">Expence</th>
          </tr>
          <tr>
            <th>All</th>
            <th>API</th>
            <th>Files</th>
            <th>Other</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th></th>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td class="bill-date">2024-11-05</td>

            <td>0</td>

            <td>100</td>

            <td>8</td>
            <td>2</td>
            <td>3</td>
            <td>3</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</section>
