{% load static %}

<section
  class="basic-section basic-section-separate list-group b-radius-tl b-radius-tr b-radius-bl b-radius-br"
>
  <div class="empty-container">
    <img
      class="v-middle upload-icon"
      src="{% static 'img/svg/doc-icon.svg' %}"
    />
    <h1 title="" class="up-title dark-text">Your have no invoices</h1>
    <div class="t-text color-light">
      Choose one of the Proofy’s plan above<br />
    </div>
    <a href="/billing">
      <button class="btn btn-primary btn-lg">Choose plan</button>
    </a>
  </div>
</section>
