{% load static %}

<div class="row align-center price-table-container price-admin">
  <div class="clearfix">
    <div class="col-xs-12 col-md-3 col-lg-3 col-adm">
      <div class="i-wrap align-center pt-pack clearfix">
        <div class="pt-info-wrap">
          <div class="pt-title">
            <strong> <span class="pt-count">2 500</span> emails </strong>
          </div>
          <div class="pt-price">
            <div class="per-check"><b class="digit">$0.004</b> / 1 check</div>
            <span class="p-value digit dark-text">
              <span class="v-bottom f-small-13"></span>10
            </span>
            <div class="pt-discount">Save 20%!</div>
            <div class="pt-cta-btn">
              <a href="https://app.proofy.io/bill/?code=u2500"
                ><span class="btn btn-primary">Purchase</span></a
              >
            </div>
          </div>
        </div>
        <div class="pt-campere">
          <div class="pt-campere-wrap">
            <strong class="pt-campere-title">compare to</strong>
            <ul>
              <li>
                <strong class="left">Neverbounce</strong>
                <strong class="right">40$</strong>
              </li>
              <li>
                <strong class="left">Zerobounce</strong>
                <strong class="right">39$</strong>
              </li>
              <li>
                <strong class="left">Briteverify</strong>
                <strong class="right">50$</strong>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-3 col-lg-3 col-adm">
      <div class="i-wrap align-center pt-pack clearfix">
        <div class="pt-info-wrap">
          <div class="pt-title">
            <strong> <span class="pt-count">5 000</span> emails </strong>
          </div>
          <div class="pt-price">
            <div class="per-check"><b class="digit">$0.0032</b> / 1 check</div>
            <span class="p-value digit dark-text">
              <span class="v-bottom f-small-13"></span>16
            </span>
            <div class="pt-discount">Save 36%!</div>
            <div class="pt-cta-btn">
              <a href="https://app.proofy.io/bill/?code=u5000"
                ><span class="btn btn-primary">Purchase</span></a
              >
            </div>
          </div>
        </div>
        <div class="pt-campere">
          <div class="pt-campere-wrap">
            <strong class="pt-campere-title">compare to</strong>
            <ul>
              <li>
                <strong class="left">Neverbounce</strong>
                <strong class="right">50$</strong>
              </li>
              <li>
                <strong class="left">Zerobounce</strong>
                <strong class="right">65$</strong>
              </li>
              <li>
                <strong class="left">Briteverify</strong>
                <strong class="right">100$</strong>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-3 col-lg-3 col-adm">
      <div class="i-wrap align-center pt-pack clearfix">
        <div class="pt-info-wrap">
          <div class="pt-title">
            <strong> <span class="pt-count">10 000</span> emails </strong>
          </div>
          <div class="pt-price">
            <div class="per-check"><b class="digit">$0.0029</b> / 1 check</div>
            <span class="p-value digit dark-text">
              <span class="v-bottom f-small-13"></span>29
            </span>
            <div class="pt-discount">Save 42%!</div>
            <div class="pt-cta-btn">
              <a href="https://app.proofy.io/bill/?code=u10000"
                ><span class="btn btn-primary">Purchase</span></a
              >
            </div>
          </div>
        </div>
        <div class="pt-campere">
          <div class="pt-campere-wrap">
            <strong class="pt-campere-title">compare to</strong>
            <ul>
              <li>
                <strong class="left">Neverbounce</strong>
                <strong class="right">100$</strong>
              </li>
              <li>
                <strong class="left">Zerobounce</strong>
                <strong class="right">130$</strong>
              </li>
              <li>
                <strong class="left">Briteverify</strong>
                <strong class="right">200$</strong>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-3 col-lg-3 col-adm">
      <div class="i-wrap align-center pt-pack clearfix">
        <div class="pt-info-wrap">
          <div class="pt-title">
            <strong> <span class="pt-count">30 000</span> emails </strong>
          </div>
          <div class="pt-price">
            <div class="per-check"><b class="digit">$0.0021</b> / 1 check</div>
            <span class="p-value digit dark-text">
              <span class="v-bottom f-small-13"></span>63
            </span>
            <div class="pt-discount">Save 58%!</div>
            <div class="pt-cta-btn">
              <a href="https://app.proofy.io/bill/?code=u30000"
                ><span class="btn btn-primary">Purchase</span></a
              >
            </div>
          </div>
        </div>
        <div class="pt-campere">
          <div class="pt-campere-wrap">
            <strong class="pt-campere-title">compare to</strong>
            <ul>
              <li>
                <strong class="left">Neverbounce</strong>
                <strong class="right">150$</strong>
              </li>
              <li>
                <strong class="left">Zerobounce</strong>
                <strong class="right">195$</strong>
              </li>
              <li>
                <strong class="left">Briteverify</strong>
                <strong class="right">300$</strong>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="on-demand">
    <h3>
      Need more flexible plan?<br />
      Drag the slider and choose the quantity you need
    </h3>
  </div>
  <div class="container price-range-bar">
    <div class="price-range-wrap">
      <div
        id="price-range"
        class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"
      >
        <ul class="range-layout">
          <li style="width: 8.33%" class="active"></li>
          <li style="width: 8.33%" class="active"></li>
          <li style="width: 8.33%" class="active"></li>
          <li style="width: 8.33%" class="active"></li>
          <li style="width: 8.33%" class="active"></li>
          <li style="width: 8.33%" class="active"></li>
          <li style="width: 8.33%"></li>
          <li style="width: 8.33%"></li>
          <li style="width: 8.33%"></li>
          <li style="width: 8.33%"></li>
          <li style="width: 8.33%"></li>
          <li style="width: 8.33%"></li>
          <li></li>
        </ul>
        <div
          class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min"
          style="width: 50%"
        ></div>
        <span
          class="ui-slider-handle ui-state-default ui-corner-all"
          tabindex="0"
          style="left: 50%"
        ></span>
      </div>
    </div>
    <div class="counter">
      Get
      <strong class="digit dark-text js_slider_checks_count">70000</strong>
      checks for
      <strong class="color-brand"
        >$<span class="js_slider_price_value">124</span></strong
      >
      <span class="discount js_slider_price_save">Save 65%!</span>
    </div>
    <div class="single-check">
      <div class="inner">
        <strong>$<span class="js_slider_cost_per_check">0.0018</span></strong>
        / per 1 check
      </div>
    </div>
    <a href="https://app.proofy.io/bill/?code=u70000" class="js_slider_pay_link"
      ><button class="btn btn-primary js_show_btn">Purchase</button></a
    >
  </div>
</div>
<div class="billing-features">
  <div class="row">
    <div class="col-lg-12 align-center">
      <br />
      <h3 class="title">Why is it important to validate emails?</h3>
      <p class="subtitle">
        When you send to invalid emails they bounce. The more you bounce the
        lower your sender reputation.<br />
        Databases naturally degrade by about 20-30% every year. A 5% bounce rate
        can get you blocked.<br />
        The high percentage of bad, the lower the deliverability, and 5% leads
        to blocking
      </p>
    </div>
  </div>
  <div class="row top-list">
    <div class="col-lg-3 top-col">
      <img src="{% static 'img/svg/f_result.svg' %}" alt="Deliverability" />
      <h4 class="title">up to 98.5% Deliverability</h4>
      <p class="description">
        Avoid of disposable, bounces, risky, or catch-all email addresses. Up
        high your future emailings to the next level.
      </p>
    </div>
    <div class="col-lg-3 top-col">
      <img src="{% static 'img/svg/f_increase.svg' %}" alt="ROI" />
      <h4 class="title">Increase ROI of your email campaigns</h4>
      <p class="description">
        Carry out your working time just with a real clients. Stop throwing
        money away on bad or spammy email addresses.
      </p>
    </div>
    <div class="col-lg-3 top-col">
      <img src="{% static 'img/svg/f_safe.svg' %}" alt="Protect" />
      <h4 class="title">Protect your domain reputation score</h4>
      <p class="description">
        Honey pods and hard bounces worsen your email reputation. Escape of them
        so that your letters don't end up in spam places.
      </p>
    </div>
    <div class="col-lg-3 top-col">
      <img src="{% static 'img/svg/f_money.svg' %}" alt="Best Pricing Offer" />
      <h4 class="title">Best Pricing Offer</h4>
      <p class="description">
        Get unlimited access to all functions of the service at the best price.
        Start use the same service without losing the quality of your
        verification process.
      </p>
    </div>
  </div>

  <div class="row features-title">
    <div class="col-lg-12 align-center">
      <br />
      <h3 class="title">Our key features</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <div class="icon-box">
        <div class="icon-wrap">
          <img
            src="{% static 'img/svg/deduplicate.svg' %}"
            alt="Duplicate email remover"
          />
        </div>
        <div class="content-wrap">
          <h4 class="title">Duplicate email remover</h4>
        </div>
      </div>
      <p class="description content-full">
        We remove duplicates and bad syntax at no cost.
      </p>
    </div>
    <div class="col-lg-3">
      <div class="icon-box">
        <div class="icon-wrap">
          <img
            src="{% static 'img/svg/risk-validator.svg' %}"
            alt="Risk validator"
          />
        </div>
        <div class="content-wrap">
          <h4 class="title">Risk validator</h4>
        </div>
      </div>
      <p class="description content-full">
        Removes emails with high-risk keywords or sketchy TLD.
      </p>
    </div>
    <div class="col-lg-3">
      <div class="icon-box">
        <div class="icon-wrap">
          <img
            src="{% static 'img/svg/mta-validation.svg' %}"
            alt="MTA validations"
          />
        </div>
        <div class="content-wrap">
          <h4 class="title">MTA validations</h4>
        </div>
      </div>
      <p class="description content-full">
        MTA validator checks whether an MTA has a valid MX record.
      </p>
    </div>
    <div class="col-lg-3">
      <div class="icon-box">
        <div class="icon-wrap">
          <img
            src="{% static 'img/svg/e-validation-api.svg' %}"
            alt="E-Validation API"
          />
        </div>
        <div class="content-wrap">
          <h4 class="title">E-Validation API</h4>
        </div>
      </div>
      <p class="description content-full">
        Our Email Validator API allows you to verify email addresses.
      </p>
    </div>
  </div>
  <div class="space"></div>
  <div class="row">
    <div class="col-lg-3">
      <div class="icon-box">
        <div class="icon-wrap">
          <img
            src="{% static 'img/svg/domain-validation.svg' %}"
            alt="Domain validation"
          />
        </div>
        <div class="content-wrap">
          <h4 class="title">Domain validation</h4>
        </div>
      </div>
      <p class="description content-full">
        Proofy can successfully mark all of the emails containing invalid
        domains like spam etc.
      </p>
    </div>
    <div class="col-lg-3">
      <div class="icon-box">
        <div class="icon-wrap">
          <img
            src="{% static 'img/svg/syntax-valid.svg' %}"
            alt="Syntax validation"
          />
        </div>
        <div class="content-wrap">
          <h4 class="title">Syntax validation</h4>
        </div>
      </div>
      <p class="description content-full">
        Proofy can clean your database from addresses with syntax errors. You
        don’t have to do it manually.
      </p>
    </div>
    <div class="col-lg-3">
      <div class="icon-box">
        <div class="icon-wrap">
          <img
            src="{% static 'img/svg/single-verification.svg' %}"
            alt="Single Validation"
          />
        </div>
        <div class="content-wrap">
          <h4 class="title">Single Validation</h4>
        </div>
      </div>
      <p class="description content-full">
        Validate a single email immediately. Use a simple form inside the admin
        panel for fast testing.
      </p>
    </div>
    <div class="col-lg-3">
      <div class="icon-box">
        <div class="icon-wrap">
          <img
            src="{% static 'img/svg/realtime-bouncing.svg' %}"
            alt="Real-time bouncing"
          />
        </div>
        <div class="content-wrap">
          <h4 class="title">Real-time bouncing</h4>
        </div>
      </div>
      <p class="description content-full">
        Define hard bounces, bad emails, and invalid emails using an SMTP check.
      </p>
    </div>
  </div>
  <div class="space"></div>
  <div class="row">
    <div class="col-lg-3">
      <div class="icon-box">
        <div class="icon-wrap">
          <img
            src="{% static 'img/svg/disposable-email-checker.svg' %}"
            alt="Disposable email checker"
          />
        </div>
        <div class="content-wrap">
          <h4 class="title">Disposable email checker</h4>
        </div>
      </div>
      <p class="description content-full">
        Our software identifies temporary email accounts that are used to mask
        real email addresses.
      </p>
    </div>
    <div class="col-lg-3">
      <div class="icon-box">
        <div class="icon-wrap">
          <img
            src="{% static 'img/svg/free-bulk-trial.svg' %}"
            alt="Duplicate email remover"
          />
        </div>
        <div class="content-wrap">
          <h4 class="title">Free Bulk Trial</h4>
        </div>
      </div>
      <p class="description content-full">
        Free bulk trial plan with 500 credits. If you need more you can earn
        more with our
        <a
          href="https://proofy.io/guide-get-free-credits-mass-validation-email-database-service-proofy-io/#proofyform"
          >program</a
        >.
      </p>
    </div>
    <div class="col-lg-3">
      <div class="icon-box">
        <div class="icon-wrap">
          <img
            src="{% static 'img/svg/bulk-validation.svg' %}"
            alt="Bulk Validation"
          />
        </div>
        <div class="content-wrap">
          <h4 class="title">Bulk Validation</h4>
        </div>
      </div>
      <p class="description content-full">
        Upload a mailing list to speed up bulk cleaning. You can use our API, or
        Bulk validation with File.
      </p>
    </div>
    <div class="col-lg-3">
      <div class="icon-box">
        <div class="icon-wrap">
          <img
            src="{% static 'img/svg/mx-record-checker.svg' %}"
            alt="MX record checker"
          />
        </div>
        <div class="content-wrap">
          <h4 class="title">MX record checker</h4>
        </div>
      </div>
      <p class="description content-full">
        Validates MX records on existence for every mail address and mail server
        records in the DNS.
      </p>
    </div>
  </div>
  <div class="space"></div>
  <div class="row">
    <div class="col-lg-3">
      <div class="icon-box">
        <div class="icon-wrap">
          <img
            src="{% static 'img/svg/free-email-verifier.svg' %}"
            alt="Free Email verifier"
          />
        </div>
        <div class="content-wrap">
          <h4 class="title">Free Email verifier</h4>
        </div>
      </div>
      <p class="description content-full">
        Our software identifies temporary emails that is used to mask real email
        addresses.
      </p>
    </div>
    <div class="col-lg-3">
      <div class="icon-box">
        <div class="icon-wrap">
          <img
            src="{% static 'img/svg/role-detection.svg' %}"
            alt="Role email detection"
          />
        </div>
        <div class="content-wrap">
          <h4 class="title">Role email detection</h4>
        </div>
      </div>
      <p class="description content-full">
        Detects role-based emails that are not for personal use and that hurt
        your inbox deliverability.
      </p>
    </div>
    <div class="col-lg-3">
      <div class="icon-box">
        <div class="icon-wrap">
          <img
            src="{% static 'img/svg/awesome-support.svg' %}"
            alt="Awesome Support"
          />
        </div>
        <div class="content-wrap">
          <h4 class="title">Awesome Support</h4>
        </div>
      </div>
      <p class="description content-full">
        When you need good support you can ask our chat and we provide for you
        best decision.
      </p>
    </div>
    <div class="col-lg-3">
      <div class="icon-box">
        <div class="icon-wrap">
          <img
            src="{% static 'img/svg/selectable-download-option.svg' %}"
            alt="Selectable download options"
          />
        </div>
        <div class="content-wrap">
          <h4 class="title">Selectable download options</h4>
        </div>
      </div>
      <p class="description content-full">
        We give you the option to download only the results you want with custom
        downloads options.
      </p>
    </div>
  </div>

  <div class="row questions-title">
    <div class="col-lg-12 align-center">
      <br />
      <h3 class="title">Frequently asked questions</h3>
    </div>
  </div>
  <div class="space"></div>
  <div class="row questions">
    <div class="col-lg-6">
      <h4 class="title">Do you give free credits for the test?</h4>
      <p class="description">
        Yes, we provide 500 checks. Before paying, make sure that you are
        satisfied with the result.
      </p>
    </div>
    <div class="col-lg-6">
      <h4 class="title">How Often Should I Verify My Emails?</h4>
      <p class="description">
        Large lists should be checked at the very least, once every two weeks.
        Smaller size lists can be checked on a monthly basis.
      </p>
    </div>
  </div>
  <div class="space"></div>
  <div class="row questions">
    <div class="col-lg-6">
      <h4 class="title">Are you making a refund?</h4>
      <p class="description">
        Yes, we refund money if you have not used credits(cheks)
      </p>
    </div>
    <div class="col-lg-6">
      <h4 class="title">Do you provide an API?</h4>
      <p class="description">
        Yes, we provide API for our email verification service. Read more about
        API
        <a href="https://proofy.io/using-api/">here</a>.
      </p>
    </div>
  </div>
  <div class="space"></div>
  <div class="row questions">
    <div class="col-lg-6">
      <h4 class="title">Do Email Credits/Checks Expire?</h4>
      <p class="description">
        No, they do not. Your”Pay As You Go” email credits will be working as
        long as you haven’t reached the limit.
      </p>
    </div>
    <div class="col-lg-6">
      <h4 class="title">
        Do you offer special conditions for Enterprise customers?
      </h4>
      <p class="description">
        We offer volume discounts and can provide dedicated email validation
        infrastructure for Enterprise customers. Please get in touch via chat to
        learn more.
      </p>
    </div>
  </div>
  <div class="space"></div>
  <div class="row questions">
    <div class="col-lg-6">
      <h4 class="title">Do you store or share my data?</h4>
      <p class="description">
        Your data is always yours and will never be shared. We do not sell or
        collect your personal information, we do not have access, we do not sell
        or transfer to third parties.
      </p>
    </div>
    <div class="col-lg-6">
      <h4 class="title">Is there bulk email verification?</h4>
      <p class="description">Yes, we provide bulk email verification</p>
    </div>
  </div>
</div>
